* {
  box-sizing: border-box; }

.Album {
  background-color: #3dccbf;
  padding: 10px;
  margin: 0 auto 30px auto;
  max-width: 600px; }
  .Album__image {
    max-width: 100%;
    margin-bottom: 20px; }
  .Album__description {
    display: block; }
  .Album__links a {
    display: block; }
