@import './_shared';

.Album {
  background-color: $c-tile;
  padding: 10px;
  margin: 0 auto 30px auto;
  max-width: 600px;

  &__image {
    max-width: 100%;
    margin-bottom: 20px;
  }

  &__description {
    display: block;
  }

  &__links {
    a {
      display: block;
    }
  }
}