@import './_shared';

.App {
  background: $lp_gradient;
  min-height: 100vh;
  min-width: 100vw;

  &__menu-wrapper {
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
  }

  &__menu {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      font-size: 16px;
      display: inline-block;
    }

    li:not(:last-child) {
      margin-right: 7px;
    }
  }


  &__content {
    max-width: $max-width;
    width: 100%;
    margin: 0 auto;
  }

}