@import './_shared';

.LandingPage {
  background:radial-gradient($seablue, $darkseagreen);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 20px;
  animation: ulbganimate 5s infinite alternate;

  ul {
    //background-color: rgba(255,255,255,0.5);
    padding: 20px;
    margin: 0;
    list-style: none;
    text-align: center;
    //perspective: 250px;
    //perspective-origin: 0 0;
    animation: ulanimate 5s infinite alternate;
  }

  @keyframes ulanimate {
    from {perspective: 450px;}
    to {perspective: 150px;}
  }

  @keyframes bganimate {
    from {background:radial-gradient($seablue, $seagreen);}
    to {background:radial-gradient($seagreen, $seablue);}
  }


  li {
    transform: rotateX(40deg);
    transition: all 0.5s;
  }

  li:hover {
    transform: rotateY(30deg);
  }


}