@import './_shared';

.LandingPage {
  background: radial-gradient(rgb(255, 255, 255), rgba(55, 237, 199, 0.62));;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 20px;



  &::after {
    z-index: 1;
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    background:green;
    //animation: bganimate 5s infinite alternate;
    background-blend-mode: darken;
  }

  &::after {
    z-index: 2;
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    background:radial-gradient(rgba(0, 0, 0, 0.1), rgba(60, 60, 237, 0.62));
    animation: bganimate 2s infinite alternate;
  }

  ul {
    z-index: 3;
    //background-color: rgba(255,255,255,0.5);
    padding: 20px;
    margin: 0;
    list-style: none;
    text-align: center;
    //perspective: 250px;
    //perspective-origin: 0 0;
    //animation: ulanimate 5s infinite alternate;
  }

  @keyframes ulanimate {
    from {perspective: 450px;}
    to {perspective: 150px;}
  }

  @keyframes bganimate {
    from {opacity: 1;}
    to {opacity: 0;}
  }


  li {
    transform: rotateX(40deg);
    transition: all 0.5s;
  }

  li:hover {
    transform: rotateY(30deg);
  }


}