.Project {
  background-color: #3dccbf;
  padding: 10px;
  display: flex;
  max-width: 900px;
  margin: 0 auto 30px; }
  .Project__image-wrap {
    flex: 0 0 300px; }
  .Project__image {
    width: 100%; }
  .Project__text-wrap {
    margin-left: 20px;
    min-width: 400px;
    flex: 1; }
  .Project__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10px; }
  .Project__title {
    font-size: 16px; }
  .Project__technology {
    display: inline-block;
    margin: 3px 5px 3px 0;
    padding: 3px 5px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 3px; }
