@import './_shared';

.Project {
    background-color: $seablue;
    padding: 10px;
    display: flex;
    max-width: $max-width;
    margin: 0 auto 30px;

    &__image-wrap {
        flex: 0 0 300px;
    }

    &__image {
        width: 100%;
    }

    &__text-wrap {
        margin-left: 20px;
        min-width: 400px;
        flex: 1;
    }

    &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }

    &__title {
        font-size: 16px;
    }

    &__date {

    }

    &__technology {
        display: inline-block;
        margin: 3px 5px 3px 0;
        padding: 3px 5px;
        background-color: rgba(255, 255, 255, 0.60);
        border-radius: 3px;
    }
}